<h1>Goals</h1>
<div class="container">
  <div class="card">
    <% @goals.each do |goal| %>
    <div class="card-header">
      <table>
        <thead>
          <tr>
            <th>Name of Goal</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td><%= goal.title %></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <% goal.tasks.each do |t| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= t.item %><br>
            <%= t.description %>
          </li>
        </ul>
        <hr>
      <% end %>
      <%= link_to 'Show Goal', goal, class: "btn btn-info", style: "color:black;" %>
      <%= link_to 'Edit Goal', edit_goal_path(goal) , class: "btn btn-info" %>
      <%= link_to 'Destroy Goal', goal, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-info", style: "color:black;"  %>
    </div>
  <% end %>
  </div>
</div>

<br>

<%= link_to 'New Goal', new_goal_path, class: "btn btn-primary", style: "color:black;" %>
