<br>

<div class="container">
  <% unless @goal.id == current_user.goals.first.id %>
    <%= link_to 'Previous Goal', goal_path(@previous_goal), class: "btn btn-info", style: "color:black;float:left;"  %>
  <% end%>
  <% unless @goal.id == current_user.goals.last.id %>
    <%= link_to 'Next Goal', goal_path(@next_goal), class: "btn btn-info", style: "color:black;float:right;" %>
  <% end%>
  <br><br>
  <div class="card">
    <div class="card-header" style="background-color:#0d6efd;color:black;">
      <strong>Title:</strong>
      <%= @goal.title %>
    </div>
    <div class="container">
      <%= render 'tasks/task' %>
    </div>
    <div class="card-footer" style="background-color:#0d6efd;">
      <%= link_to 'Edit', edit_goal_path(@goal), class: "btn btn-info", style: "color:black;" %>
      <%= link_to 'Back', goals_path, class: "btn btn-info", style: "color:black;"  %>
    </div>
  </div>
</div>

<%= render 'tasks/form' %>
